.nav-bar{
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    background-color: #D87D4A;
    transform: translateY(100%);
    transition: transform .3s ease;

    & .comp-logo{
        width: fit-content;
        height: fit-content;

        & img {
            width: 250px;
            height: auto;
        }
    }
    
    .grid-container{
        width: 100%;
        height: 100%;
        padding: 3px;

        & .home-link{
            position: relative;
            display: block;
            color: black;
            width: 60%;
            height: 92px;

            & img {
                width: 100%;
                height: auto;
            }

            & p{
                position: absolute;
                bottom: 0;
                left: 5px;
                z-index: 2;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
        }
    }
}

.hamburger-btn{
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D87D4A;
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    height: 60px;
    max-width: 426px;
    border-radius: 5px 5px 0 0 ;
}

.menu-open{
    transform: translateY(0%);
    transition: transform .3s ease;
}