.nav-bar{
    width: 100%;
    height: 86vh;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #D87D4A;
    transform: translateY(110%);
    transition: transform .3s ease;

    & .comp-logo{
        width: fit-content;
        height: fit-content;

        & img {
            width: 250px;
            height: auto;
        }
    }
    
    .grid-container{
        width: 100%;
        height: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
        grid-template-areas: 
        "home cart"
        "headphone speaker"
        "headphone earphone"
        "contact contact"
        ;

        & .home-link{
            grid-area: home;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }

        & .cart-link{
            grid-area: cart; 
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }
        & .headphones-link{
            grid-area: headphone;
            background-color: white; 
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }
        & .speakers-link{
            grid-area: speaker; 
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }
        & .earphones-link{
            grid-area: earphone; 
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }
        & .contact-link{
            grid-area: contact; 
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;

            & img {
                width: 400px;
                height: 100%;
            }
        }
    }
}

.hamburger-btn{
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D87D4A;
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    height: 80px;
    max-width: 426px;
    border-radius: 5px 5px 0 0 ;
}

.menu-open{
    transform: translateY(0%);
    transition: transform .3s ease;
}