.mobile-navigation {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    overflow: hidden;

    @include tablet{
        display: none;
    }

    & .nav-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        list-style: none;
        background-color: colorSet(accent, dark-orange);
        border-radius: 10px 10px 0 0;

        & .nav-item {
            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: colorSet(base, light-silver);
                text-decoration: none;
                font-size: 14px;

                & svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}