.nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: colorSet(base, black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & .navbar {
        width: 90%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;

        & .hamburger-icon {
            fill: white;

            @include desktop {
                display: none;
            }
        }

        & .home-link {
            display: flex;
            justify-content: center;
            align-items: center;

            & .company-text{
                display: none;
            }

            svg {
                fill: white;

                &:hover{
                    fill: #D87D4A;
                    transition: fill .3s ease;
                }
            }
        }

        & .desktop-nav-list {
            display: none;

            @include desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 500px;
                list-style: none;
            }

            li {
                a {
                    color: colorSet(base, light-silver);
                    text-decoration: none;

                    &:hover{
                        color: colorSet(accent, dark-orange); 
                        transition: color .3s ease;
                    }
                }
            }
        }

        & .cart-icon {
            width: 25px;
            height: 25px;
            fill: white;

            &:hover{
                fill:#D87D4A;
                transition: fill .3s ease;
            }
        }
    }
}


.mobile-nav-list{
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: -1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    padding: 10px 0px;
    background-color: colorSet(base, offwhite);
    transition: left .8s ease;
    overflow: scroll;
    border-radius: 0 0 8px 8px;
}

.nav-open{
    position: absolute;
    top: 4rem;
    left: 0px;
    overflow-y: scroll;
    transition: left .8s ease;
}