@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.cta-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sub-styling {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sup-styling {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.h1-styling, .h2-styling, .h3-styling, .h4-styling, .h5-styling, .h6-styling, .subTitle-styling, .cta-styling {
  font-weight: 700;
  text-transform: uppercase;
}

.h1-styling {
  line-height: 40px;
  letter-spacing: 2px;
}

@media (min-width: 700px) {
  .h1-styling {
    line-height: 58px;
  }
}

.h1-styling {
  font-size: 36px;
}

@media screen and (min-width: 320px) {
  .h1-styling {
    font-size: calc(1.78571vw + 30.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h1-styling {
    font-size: 76px;
  }
}

.h2-styling {
  line-height: 44px;
  letter-spacing: 1.5px;
}

.h2-styling {
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  .h2-styling {
    font-size: calc(0.53571vw + 26.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h2-styling {
    font-size: 40px;
  }
}

.h3-styling {
  line-height: 36px;
  letter-spacing: 1.15px;
}

.h3-styling {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .h3-styling {
    font-size: calc(0.35714vw + 22.85714px);
  }
}

@media screen and (min-width: 2560px) {
  .h3-styling {
    font-size: 32px;
  }
}

.h4-styling {
  line-height: 38px;
  letter-spacing: 2px;
}

.h5-styling {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.h6-styling {
  line-height: 24px;
  letter-spacing: 1.3px;
}

.h6-styling {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .h6-styling {
    font-size: calc(0.13393vw + 14.57143px);
  }
}

@media screen and (min-width: 2560px) {
  .h6-styling {
    font-size: 18px;
  }
}

.nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar {
  width: 90%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.nav .navbar .hamburger-icon {
  fill: white;
  width: 25px;
}

@media (min-width: 1000px) {
  .nav .navbar .hamburger-icon {
    display: none;
  }
}

.nav .navbar .home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar .home-link .company-text {
  display: none;
}

.nav .navbar .home-link svg {
  fill: white;
}

.nav .navbar .home-link svg:hover {
  fill: #D87D4A;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.nav .navbar .desktop-nav-list {
  display: none;
}

@media (min-width: 1000px) {
  .nav .navbar .desktop-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 500px;
    list-style: none;
  }
}

.nav .navbar .desktop-nav-list li a {
  color: #F1F1F1;
}

.nav .navbar .desktop-nav-list li a:hover {
  color: #D87D4A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.nav .navbar .cart-icon {
  width: 28px;
  height: 28px;
  fill: white;
}

.nav .navbar .cart-icon:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.mobile-nav-list {
  position: absolute;
  z-index: 1;
  top: 4rem;
  left: -1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 90%;
  padding: 10px 0px;
  background-color: #FAFAFA;
  -webkit-transition: left .8s ease;
  transition: left .8s ease;
  overflow: scroll;
  border-radius: 0 0 8px 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-list {
    display: none;
  }
}

.nav-open {
  position: absolute;
  top: 4rem;
  left: 0px;
  overflow-y: scroll;
  -webkit-transition: left .8s ease;
  transition: left .8s ease;
}

.index-hero {
  position: relative;
  top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url("./style/assets/home/tablet/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
  height: 700px;
}

@media (min-width: 700px) {
  .index-hero {
    background-image: url("./style/assets/home/tablet/image-header.jpg");
    background-position: center;
  }
}

@media (min-width: 1000px) {
  .index-hero {
    background-image: url("./style/assets/home/desktop/image-hero.jpg");
    background-position: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 100px;
    height: 600px;
  }
}

.index-hero .index-hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 379px;
  height: 400px;
}

.index-hero .index-hero-text .sup-heading {
  color: #7e7e7e;
}

.index-hero .index-hero-text .sub-text {
  color: #7e7e7e;
}

@media (min-width: 1000px) {
  .index-hero .index-hero-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-top: 40px;
  }
}

.earphones-hero, .headphones-hero, .speakers-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
  padding-bottom: 15px;
}

.primary-btn, .secondary-btn, .tertiary-btn, .quaternary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
}

.primary-btn:hover, .secondary-btn:hover, .tertiary-btn:hover, .quaternary-btn:hover {
  cursor: pointer;
}

.primary-btn, .secondary-btn, .quaternary-btn {
  width: 160px;
  height: 48px;
}

.primary-btn {
  background: #D87D4A;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.primary-btn:hover {
  background: #FBAF85;
}

.secondary-btn {
  color: clr(base, black);
  background: transparent;
  border: 1px solid #000000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.secondary-btn:hover {
  background: #000000;
  color: #FFFFFF;
}

.tertiary-btn {
  width: 80px;
  height: 20px;
  background: transparent;
  color: #101010;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tertiary-btn svg {
  margin-left: 10px;
}

.quaternary-btn {
  background-color: #000000;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.quaternary-btn:hover {
  background-color: #4c4c4c;
}

.collage-grid-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.25fr 0.25fr 0.5fr;
      grid-template-rows: 0.25fr 0.25fr 0.5fr;
  gap: 10px;
      grid-template-areas: "img1" "img2" "img3";
  margin: auto;
}

@media (min-width: 700px) {
  .collage-grid-container {
    -ms-grid-columns: 0.7fr 1fr;
        grid-template-columns: 0.7fr 1fr;
    -ms-grid-rows: 0.25fr 0.25fr;
        grid-template-rows: 0.25fr 0.25fr;
    gap: 10px;
        grid-template-areas: "img1 img3" "img2 img3";
  }
}

@media (min-width: 1000px) {
  .collage-grid-container {
    -ms-grid-columns: 0.8fr 1fr;
        grid-template-columns: 0.8fr 1fr;
    -ms-grid-rows: 0.25fr 0.25fr;
        grid-template-rows: 0.25fr 0.25fr;
    gap: 10px;
        grid-template-areas: "img1 img3" "img2 img3";
  }
}

.collage-grid-container .image-1-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
  width: 100%;
  max-width: 327px;
  height: 174px;
}

@media (min-width: 700px) {
  .collage-grid-container .image-1-container {
    max-width: 277px;
  }
}

@media (min-width: 1000px) {
  .collage-grid-container .image-1-container {
    max-width: 440px;
    height: 242px;
  }
}

.collage-grid-container .image-2-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img2;
  width: 100%;
  max-width: 327px;
  height: 174px;
}

@media (min-width: 700px) {
  .collage-grid-container .image-2-container {
    max-width: 277px;
  }
}

@media (min-width: 1000px) {
  .collage-grid-container .image-2-container {
    max-width: 440px;
    height: 242px;
  }
}

.collage-grid-container .image-3-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img3;
  width: 100%;
  max-width: 327px;
  height: 360px;
}

@media (min-width: 700px) {
  .collage-grid-container .image-3-container {
    max-width: 395px;
  }
}

@media (min-width: 1000px) {
  .collage-grid-container .image-3-container {
    max-width: 650px;
    height: 494px;
  }
}

.collage-grid-container .image-1-container .mobile-image-1,
.collage-grid-container .image-1-container .mobile-image-2,
.collage-grid-container .image-1-container .mobile-image-3,
.collage-grid-container .image-2-container .mobile-image-1,
.collage-grid-container .image-2-container .mobile-image-2,
.collage-grid-container .image-2-container .mobile-image-3,
.collage-grid-container .image-3-container .mobile-image-1,
.collage-grid-container .image-3-container .mobile-image-2,
.collage-grid-container .image-3-container .mobile-image-3 {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .collage-grid-container .image-1-container .mobile-image-1,
  .collage-grid-container .image-1-container .mobile-image-2,
  .collage-grid-container .image-1-container .mobile-image-3,
  .collage-grid-container .image-2-container .mobile-image-1,
  .collage-grid-container .image-2-container .mobile-image-2,
  .collage-grid-container .image-2-container .mobile-image-3,
  .collage-grid-container .image-3-container .mobile-image-1,
  .collage-grid-container .image-3-container .mobile-image-2,
  .collage-grid-container .image-3-container .mobile-image-3 {
    display: none;
  }
}

.collage-grid-container .image-1-container .tablet-image-1,
.collage-grid-container .image-1-container .tablet-image-2,
.collage-grid-container .image-1-container .tablet-image-3,
.collage-grid-container .image-2-container .tablet-image-1,
.collage-grid-container .image-2-container .tablet-image-2,
.collage-grid-container .image-2-container .tablet-image-3,
.collage-grid-container .image-3-container .tablet-image-1,
.collage-grid-container .image-3-container .tablet-image-2,
.collage-grid-container .image-3-container .tablet-image-3 {
  display: none;
}

@media (min-width: 700px) {
  .collage-grid-container .image-1-container .tablet-image-1,
  .collage-grid-container .image-1-container .tablet-image-2,
  .collage-grid-container .image-1-container .tablet-image-3,
  .collage-grid-container .image-2-container .tablet-image-1,
  .collage-grid-container .image-2-container .tablet-image-2,
  .collage-grid-container .image-2-container .tablet-image-3,
  .collage-grid-container .image-3-container .tablet-image-1,
  .collage-grid-container .image-3-container .tablet-image-2,
  .collage-grid-container .image-3-container .tablet-image-3 {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 10px;
  }
}

@media (min-width: 1000px) {
  .collage-grid-container .image-1-container .tablet-image-1,
  .collage-grid-container .image-1-container .tablet-image-2,
  .collage-grid-container .image-1-container .tablet-image-3,
  .collage-grid-container .image-2-container .tablet-image-1,
  .collage-grid-container .image-2-container .tablet-image-2,
  .collage-grid-container .image-2-container .tablet-image-3,
  .collage-grid-container .image-3-container .tablet-image-1,
  .collage-grid-container .image-3-container .tablet-image-2,
  .collage-grid-container .image-3-container .tablet-image-3 {
    display: none;
  }
}

.collage-grid-container .image-1-container .desktop-image-1,
.collage-grid-container .image-1-container .desktop-image-2,
.collage-grid-container .image-1-container .desktop-image-3,
.collage-grid-container .image-2-container .desktop-image-1,
.collage-grid-container .image-2-container .desktop-image-2,
.collage-grid-container .image-2-container .desktop-image-3,
.collage-grid-container .image-3-container .desktop-image-1,
.collage-grid-container .image-3-container .desktop-image-2,
.collage-grid-container .image-3-container .desktop-image-3 {
  display: none;
}

@media (min-width: 1000px) {
  .collage-grid-container .image-1-container .desktop-image-1,
  .collage-grid-container .image-1-container .desktop-image-2,
  .collage-grid-container .image-1-container .desktop-image-3,
  .collage-grid-container .image-2-container .desktop-image-1,
  .collage-grid-container .image-2-container .desktop-image-2,
  .collage-grid-container .image-2-container .desktop-image-3,
  .collage-grid-container .image-3-container .desktop-image-1,
  .collage-grid-container .image-3-container .desktop-image-2,
  .collage-grid-container .image-3-container .desktop-image-3 {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 10px;
  }
}

.category-links {
  width: 100%;
  max-width: 1240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.headphones-link,
.speakers-link,
.earphones-link {
  position: relative;
  width: 100%;
  max-width: 327px;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.headphones-link a,
.speakers-link a,
.earphones-link a {
  display: block;
  width: inherit;
  height: 165px;
  background-color: #F1F1F1;
  color: black;
  text-align: center;
  border-radius: 8px;
}

.headphones-link a img,
.speakers-link a img,
.earphones-link a img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

.headphones-link a .link-text,
.speakers-link a .link-text,
.earphones-link a .link-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  width: inherit;
  padding-bottom: 20px;
}

.headphones-link a .link-text .shop-btn,
.speakers-link a .link-text .shop-btn,
.earphones-link a .link-text .shop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  color: #4c4c4c;
}

.headphones-link a .link-text .shop-btn span,
.speakers-link a .link-text .shop-btn span,
.earphones-link a .link-text .shop-btn span {
  position: relative;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.headphones-link a .link-text .shop-btn span img,
.speakers-link a .link-text .shop-btn span img,
.earphones-link a .link-text .shop-btn span img {
  width: 10px;
}

@media (min-width: 700px) {
  .headphones-link,
  .speakers-link,
  .earphones-link {
    width: 225px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (min-width: 1000px) {
  .headphones-link,
  .speakers-link,
  .earphones-link {
    width: 100%;
    max-width: 327px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.earphones-link a .earphones-image {
  top: 10px;
}

.zx9-speaker-promotion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  max-width: 1100px;
  height: 550px;
  margin: 100px auto 100px auto;
  background-color: #D87D4A;
  border-radius: 10px;
  background-image: url("./style/assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 575px auto;
  background-position: center -150px;
  overflow: hidden;
}

@media (min-width: 700px) {
  .zx9-speaker-promotion {
    height: 600px;
    background-size: 650px;
    background-position: center -210px;
  }
}

@media (min-width: 1000px) {
  .zx9-speaker-promotion {
    height: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: 900px;
    background-position: -180px -15px;
  }
}

.zx9-speaker-promotion img {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 160px;
  height: auto;
}

@media (min-width: 700px) {
  .zx9-speaker-promotion img {
    width: 170px;
  }
}

@media (min-width: 1000px) {
  .zx9-speaker-promotion img {
    top: 143px;
    left: 100px;
    -webkit-transform: none;
            transform: none;
    width: 300px;
  }
}

.zx9-speaker-promotion .zx9-speaker-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 400px;
  height: 300px;
}

@media (min-width: 1000px) {
  .zx9-speaker-promotion .zx9-speaker-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 350px;
    width: 415px;
    margin: 40px 100px 0 0;
  }
}

.zx9-speaker-promotion .zx9-speaker-text h1 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .zx9-speaker-promotion .zx9-speaker-text h1 {
    text-align: left;
    margin: 0;
  }
}

.zx9-speaker-promotion .zx9-speaker-text p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1000px) {
  .zx9-speaker-promotion .zx9-speaker-text p {
    width: auto;
    margin: 0;
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0rem;
}

main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 4rem auto 0 auto;
}
/*# sourceMappingURL=main.css.map */