@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.cta-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sub-styling {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sup-styling {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.h1-styling, .h2-styling, .h3-styling, .h4-styling, .h5-styling, .h6-styling, .subTitle-styling, .cta-styling {
  font-weight: 700;
  text-transform: uppercase;
}

.h1-styling {
  line-height: 40px;
  letter-spacing: 2px;
}

@media (min-width: 600px) {
  .h1-styling {
    line-height: 58px;
  }
}

.h1-styling {
  font-size: 36px;
}

@media screen and (min-width: 320px) {
  .h1-styling {
    font-size: calc(1.78571vw + 30.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h1-styling {
    font-size: 76px;
  }
}

.h2-styling {
  line-height: 44px;
  letter-spacing: 1.5px;
}

.h2-styling {
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  .h2-styling {
    font-size: calc(0.53571vw + 26.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h2-styling {
    font-size: 40px;
  }
}

.h3-styling {
  line-height: 36px;
  letter-spacing: 1.15px;
}

.h3-styling {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .h3-styling {
    font-size: calc(0.35714vw + 22.85714px);
  }
}

@media screen and (min-width: 2560px) {
  .h3-styling {
    font-size: 32px;
  }
}

.h4-styling {
  line-height: 38px;
  letter-spacing: 2px;
}

.h5-styling {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.h6-styling {
  line-height: 24px;
  letter-spacing: 1.3px;
}

.h6-styling {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .h6-styling {
    font-size: calc(0.13393vw + 14.57143px);
  }
}

@media screen and (min-width: 2560px) {
  .h6-styling {
    font-size: 18px;
  }
}

.category-links {
  width: 100%;
  max-width: 1240px;
  margin: 0px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.category-links .headphones-link,
.category-links .speakers-link,
.category-links .earphones-link {
  position: relative;
  width: 100%;
  max-width: 327px;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0;
}

.category-links .headphones-link a,
.category-links .speakers-link a,
.category-links .earphones-link a {
  display: block;
  width: inherit;
  height: 165px;
  background-color: #F1F1F1;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 8px;
}

.category-links .headphones-link a img,
.category-links .speakers-link a img,
.category-links .earphones-link a img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

.category-links .headphones-link a .link-text,
.category-links .speakers-link a .link-text,
.category-links .earphones-link a .link-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  width: inherit;
  padding-bottom: 20px;
}

.category-links .headphones-link a .link-text .shop-btn,
.category-links .speakers-link a .link-text .shop-btn,
.category-links .earphones-link a .link-text .shop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  color: #4c4c4c;
}

.category-links .headphones-link a .link-text .shop-btn span,
.category-links .speakers-link a .link-text .shop-btn span,
.category-links .earphones-link a .link-text .shop-btn span {
  position: relative;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.category-links .headphones-link a .link-text .shop-btn span img,
.category-links .speakers-link a .link-text .shop-btn span img,
.category-links .earphones-link a .link-text .shop-btn span img {
  width: 10px;
}

@media (min-width: 600px) {
  .category-links .headphones-link,
  .category-links .speakers-link,
  .category-links .earphones-link {
    width: 225px;
  }
}

.category-links .earphones-link a img {
  top: 10px;
}

.mobile-navbar {
  position: fixed;
  bottom: -900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #D87D4A;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  overflow: scroll;
}

.hamburger-menuBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.menu-open {
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  bottom: 0px;
  overflow: visible;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #D87D4A;
}

body::-webkit-scrollbar-thumb {
  background: #D87D4A;
}
/*# sourceMappingURL=main.css.map */