@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.cta-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sub-styling {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sup-styling {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.h1-styling, .h2-styling, .h3-styling, .h4-styling, .h5-styling, .h6-styling, .subTitle-styling, .cta-styling {
  font-weight: 700;
  text-transform: uppercase;
}

.h1-styling {
  line-height: 40px;
  letter-spacing: 2px;
}

@media (min-width: 700px) {
  .h1-styling {
    line-height: 58px;
  }
}

.h1-styling {
  font-size: 36px;
}

@media screen and (min-width: 320px) {
  .h1-styling {
    font-size: calc(1.78571vw + 30.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h1-styling {
    font-size: 76px;
  }
}

.h2-styling {
  line-height: 44px;
  letter-spacing: 1.5px;
}

.h2-styling {
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  .h2-styling {
    font-size: calc(0.53571vw + 26.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h2-styling {
    font-size: 40px;
  }
}

.h3-styling {
  line-height: 36px;
  letter-spacing: 1.15px;
}

.h3-styling {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .h3-styling {
    font-size: calc(0.35714vw + 22.85714px);
  }
}

@media screen and (min-width: 2560px) {
  .h3-styling {
    font-size: 32px;
  }
}

.h4-styling {
  line-height: 38px;
  letter-spacing: 2px;
}

.h5-styling {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.h6-styling {
  line-height: 24px;
  letter-spacing: 1.3px;
}

.h6-styling {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .h6-styling {
    font-size: calc(0.13393vw + 14.57143px);
  }
}

@media screen and (min-width: 2560px) {
  .h6-styling {
    font-size: 18px;
  }
}

.category-links {
  width: 100%;
  max-width: 1240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.headphones-link,
.speakers-link,
.earphones-link {
  position: relative;
  width: 100%;
  max-width: 327px;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.headphones-link a,
.speakers-link a,
.earphones-link a {
  display: block;
  width: inherit;
  height: 165px;
  background-color: #F1F1F1;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 8px;
}

.headphones-link a img,
.speakers-link a img,
.earphones-link a img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

.headphones-link a .link-text,
.speakers-link a .link-text,
.earphones-link a .link-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  width: inherit;
  padding-bottom: 20px;
}

.headphones-link a .link-text .shop-btn,
.speakers-link a .link-text .shop-btn,
.earphones-link a .link-text .shop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  color: #4c4c4c;
}

.headphones-link a .link-text .shop-btn span,
.speakers-link a .link-text .shop-btn span,
.earphones-link a .link-text .shop-btn span {
  position: relative;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.headphones-link a .link-text .shop-btn span img,
.speakers-link a .link-text .shop-btn span img,
.earphones-link a .link-text .shop-btn span img {
  width: 10px;
}

@media (min-width: 700px) {
  .headphones-link,
  .speakers-link,
  .earphones-link {
    width: 225px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (min-width: 1100px) {
  .headphones-link,
  .speakers-link,
  .earphones-link {
    display: none;
  }
}

.earphones-link a .earphones-image {
  top: 10px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: black;
}

.nav .navbar {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar .desktop-nav-list {
  display: none;
}

@media (min-width: 1100px) {
  .nav .navbar .desktop-nav-list {
    width: 100%;
    max-width: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .nav .navbar .desktop-nav-list .nav-item {
    margin: 0px 15px;
  }
  .nav .navbar .desktop-nav-list .nav-item a {
    color: #F1F1F1;
    text-decoration: none;
  }
  .nav .navbar .desktop-nav-list .nav-item a:hover {
    cursor: pointer;
    color: #D87D4A;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.nav .navbar .home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar .home-link .company-text {
  display: none;
}

.nav .navbar svg {
  fill: white;
}

.nav .navbar svg:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav .navbar .hamburger-icon {
  width: 25px;
  height: 20px;
}

@media (min-width: 1100px) {
  .nav .navbar .hamburger-icon {
    display: none;
  }
}

.nav .navbar .cart-icon {
  width: 24px;
  height: 24px;
}

.mobile-nav-list {
  position: absolute;
  top: -1000px;
  left: 0;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.nav-open {
  top: 4rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0rem;
}

main {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 4rem auto 0 auto;
}
/*# sourceMappingURL=main.css.map */