@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.cta-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sub-styling {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sup-styling {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.h1-styling, .h2-styling, .h3-styling, .h4-styling, .h5-styling, .h6-styling, .subTitle-styling, .cta-styling {
  font-weight: 700;
  text-transform: uppercase;
}

.h1-styling {
  line-height: 40px;
  letter-spacing: 2px;
}

@media (min-width: 650px) {
  .h1-styling {
    line-height: 58px;
  }
}

.h1-styling {
  font-size: 36px;
}

@media screen and (min-width: 320px) {
  .h1-styling {
    font-size: calc(1.78571vw + 30.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h1-styling {
    font-size: 76px;
  }
}

.h2-styling {
  line-height: 44px;
  letter-spacing: 1.5px;
}

.h2-styling {
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  .h2-styling {
    font-size: calc(0.53571vw + 26.28571px);
  }
}

@media screen and (min-width: 2560px) {
  .h2-styling {
    font-size: 40px;
  }
}

.h3-styling {
  line-height: 36px;
  letter-spacing: 1.15px;
}

.h3-styling {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .h3-styling {
    font-size: calc(0.35714vw + 22.85714px);
  }
}

@media screen and (min-width: 2560px) {
  .h3-styling {
    font-size: 32px;
  }
}

.h4-styling {
  line-height: 38px;
  letter-spacing: 2px;
}

.h5-styling {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.h6-styling {
  line-height: 24px;
  letter-spacing: 1.3px;
}

.h6-styling {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .h6-styling {
    font-size: calc(0.13393vw + 14.57143px);
  }
}

@media screen and (min-width: 2560px) {
  .h6-styling {
    font-size: 18px;
  }
}

.primary-btn, .secondary-btn, .tertiary-btn, .quaternary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
}

.primary-btn:hover, .secondary-btn:hover, .tertiary-btn:hover, .quaternary-btn:hover {
  cursor: pointer;
}

.primary-btn, .secondary-btn, .quaternary-btn {
  width: 160px;
  height: 48px;
}

.primary-btn {
  background: #D87D4A;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.primary-btn:hover {
  background: #FBAF85;
}

.secondary-btn {
  color: clr(base, black);
  background: transparent;
  border: 1px solid #000000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.secondary-btn:hover {
  background: #000000;
  color: #FFFFFF;
}

.tertiary-btn {
  width: 80px;
  height: 20px;
  background: transparent;
  color: #101010;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tertiary-btn svg {
  margin-left: 10px;
}

.quaternary-btn {
  background-color: #000000;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.quaternary-btn:hover {
  background-color: #4c4c4c;
}

.header {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 20px;
  background-color: black;
  -webkit-box-shadow: 0px 20px 2px -20px #F1F1F1;
          box-shadow: 0px 20px 2px -20px #F1F1F1;
}

@media (min-width: 650px) {
  .header {
    width: 100%;
    height: 13vh;
    padding: 0px 25px;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 0px 20px;
  }
}

.header figure,
.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.header .hamburger {
  display: block;
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .hamburger:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .header .hamburger {
    display: none;
  }
}

.header .logo a {
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .logo a:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .logo a p {
  display: none;
}

.header .nav-list {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: scroll;
}

@media (min-width: 650px) {
  .header .nav-list {
    height: 50vh;
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .header .nav-list {
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    -webkit-transform: none;
            transform: none;
  }
}

.header .nav-list .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) {
  .header .nav-list .nav-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .nav-list .nav-links .nav-link:first-of-type {
  display: none;
}

@media (min-width: 900px) {
  .header .nav-list .nav-links .nav-link:first-of-type {
    display: block;
  }
}

.header .nav-list .nav-links .nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 217px;
  margin-top: 30px;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link {
    margin: 0px 20px;
  }
}

@media (min-width: 900px) {
  .header .nav-list .nav-links .nav-link {
    height: auto;
    margin-top: 0;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav-list .nav-links .nav-link img {
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link img {
    top: 10px;
  }
}

@media (min-width: 900px) {
  .header .nav-list .nav-links .nav-link img {
    display: none;
  }
}

.header .nav-list .nav-links .nav-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 165px;
  padding-bottom: 40px;
  color: #000000;
  background-color: #F1F1F1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link a {
    width: 100%;
    height: 140px;
    padding-bottom: 30px;
  }
}

@media (min-width: 900px) {
  .header .nav-list .nav-links .nav-link a {
    color: #FFFFFF;
    background-color: transparent;
    padding-bottom: 0px;
    height: auto;
  }
}

.header .nav-list .nav-links .nav-link a:hover {
  color: #D87D4A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav-list .nav-links .nav-link a:hover button {
  color: #D87D4A;
}

.header .nav-list .nav-links .nav-link button {
  display: block;
}

@media (min-width: 900px) {
  .header .nav-list .nav-links .nav-link button {
    display: none;
  }
}

.header .cart svg {
  fill: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .cart svg:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .openMenu {
  top: 10vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 650px) {
  .header .openMenu {
    top: 15vh;
  }
}

@media (min-width: 900px) {
  .header .openMenu {
    top: 0;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000000;
}

@media (min-width: 650px) {
  .footer {
    height: 300px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer figure,
.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .accent-shape {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
}

@media (min-width: 650px) {
  .footer .accent-shape {
    left: 39px;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 900px) {
  .footer .accent-shape {
    left: 165px;
  }
}

.footer .logoAndNav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 950px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
}

@media (min-width: 650px) {
  .footer .logoAndNav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0px;
  }
}

.footer .logoAndNav-container .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0px 20px 0px;
}

@media (min-width: 650px) {
  .footer .logoAndNav-container .logo {
    padding: 0px;
  }
}

.footer .logoAndNav-container .logo a {
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer .logoAndNav-container .logo a:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer .logoAndNav-container .logo a p {
  display: none;
}

.footer .logoAndNav-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0px;
}

@media (min-width: 650px) {
  .footer .logoAndNav-container .footer-nav {
    height: auto;
    width: 70%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px;
  }
}

.footer .logoAndNav-container .footer-nav .nav-list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media (min-width: 650px) {
  .footer .logoAndNav-container .footer-nav .nav-list {
    height: auto;
    width: 100%;
    max-width: 450px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .logoAndNav-container .footer-nav .nav-list .nav-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 10px 0px;
}

.footer .logoAndNav-container .footer-nav .nav-list .nav-link a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer .logoAndNav-container .footer-nav .nav-list .nav-link a:hover {
  cursor: pointer;
  color: #D87D4A;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer .compDesc-container {
  width: 100%;
  max-width: 950px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  padding: 30px 0px;
}

@media (min-width: 650px) {
  .footer .compDesc-container {
    width: 90%;
  }
}

.footer .compDesc-container .comp-desc {
  color: #FFFFFF;
  opacity: 0.5;
  width: auto;
  max-width: 540px;
  margin: auto;
  text-align: center;
}

@media (min-width: 650px) {
  .footer .compDesc-container .comp-desc {
    text-align: left;
    max-width: 689px;
    margin: 0;
  }
}

@media (min-width: 900px) {
  .footer .compDesc-container .comp-desc {
    max-width: 540px;
  }
}

.footer .copyright {
  width: 100%;
  max-width: 950px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0px 80px 0px;
  text-align: center;
}

@media (min-width: 650px) {
  .footer .copyright {
    width: 90%;
    padding: 0px;
    text-align: left;
  }
}

.footer .copyright .copyright-claim {
  color: #4c4c4c;
}

.footer .social-media {
  position: absolute;
  bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 650px) {
  .footer .social-media {
    right: 30px;
  }
}

@media (min-width: 900px) {
  .footer .social-media {
    bottom: 100px;
    right: 12vw;
  }
}

.footer .social-media svg {
  margin: 0px 10px;
  fill: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer .social-media svg:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.indexPage-hero {
  position: relative;
  width: 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  background: url("./assets/home/tablet/image-header.jpg") no-repeat center center;
  background-size: cover;
}

@media (min-width: 715px) {
  .indexPage-hero {
    height: 100vh;
    background: url("./assets/home/desktop/image-hero.jpg") no-repeat center center;
    background-size: cover;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30px;
    padding-top: 50px;
  }
}

@media (min-width: 650px) {
  .indexPage-hero {
    height: 100vh;
  }
}

@media (min-width: 900px) {
  .indexPage-hero {
    padding-left: 100px;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }
}

.indexPage-hero .sup-styling {
  color: #FAFAFA;
  margin: 12vh 0 5vh 0;
}

@media (min-width: 715px) {
  .indexPage-hero .sup-styling {
    margin: 5vh 0 5vh 0;
  }
}

@media (min-width: 650px) {
  .indexPage-hero .sup-styling {
    margin: 10vh 0 0 0;
  }
}

@media (min-width: 900px) {
  .indexPage-hero .sup-styling {
    margin: 5vh 0 0 0;
  }
}

.indexPage-hero .h1-styling {
  text-align: center;
  margin: 5vh 0 0 0;
  width: auto;
  max-width: 396px;
}

@media (min-width: 715px) {
  .indexPage-hero .h1-styling {
    text-align: left;
  }
}

.indexPage-hero .sub-styling {
  text-align: center;
  margin: 30px 0 10vh 0;
  width: auto;
  max-width: 349px;
}

@media (min-width: 715px) {
  .indexPage-hero .sub-styling {
    text-align: left;
    margin: 30px 0 3vh 0;
  }
}

@media (min-width: 900px) {
  .indexPage-hero .sub-styling {
    margin: 30px 0 5vh 0;
  }
}

.indexPage-hero a {
  margin-top: 2vh;
  text-decoration: none;
}

@media (min-width: 715px) {
  .indexPage-hero a {
    margin-top: 0;
  }
}

.cat-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 192px;
  background-color: #000000;
  padding-bottom: 30px;
}

.cat-hero .hero-text {
  color: #FFFFFF;
}

@media (min-width: 650px) {
  .cat-hero {
    height: 230px;
    padding-bottom: 35px;
  }
}

.link-list {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-list .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 327px;
  height: 217px;
  margin: 30px auto 0 auto;
}

@media (min-width: 650px) {
  .link-list .link {
    width: 300px;
  }
}

@media (min-width: 900px) {
  .link-list .link {
    width: 350px;
  }
}

.link-list .link img {
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

.link-list .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 165px;
  padding-bottom: 40px;
  color: #000000;
  background-color: #F1F1F1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.link-list .link a:hover {
  color: #D87D4A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-list .link a:hover button {
  color: #D87D4A;
}

.link-list .link button {
  display: block;
}

.comp-insight {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media (min-width: 650px) {
  .comp-insight {
    width: 89%;
    margin: 60px auto;
  }
}

@media (min-width: 900px) {
  .comp-insight {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.comp-insight .soundBooth-img {
  width: 100%;
  height: 350px;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 650px) {
  .comp-insight .soundBooth-img {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 900px) {
  .comp-insight .soundBooth-img {
    width: 45%;
    max-width: 450px;
    height: 450px;
  }
}

.comp-insight .soundBooth-img .mobile-img {
  width: 100%;
  max-width: 400px;
  height: 325px;
  border-radius: 10px;
}

@media (min-width: 650px) {
  .comp-insight .soundBooth-img .mobile-img {
    display: none;
  }
}

.comp-insight .soundBooth-img .mobile-img img {
  width: 100%;
  border-radius: 10px;
}

.comp-insight .soundBooth-img .tablet-img {
  display: none;
}

@media (min-width: 650px) {
  .comp-insight .soundBooth-img .tablet-img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .comp-insight .soundBooth-img .tablet-img {
    display: none;
  }
}

.comp-insight .soundBooth-img .desktop-img {
  display: none;
}

@media (min-width: 900px) {
  .comp-insight .soundBooth-img .desktop-img {
    display: block;
    width: 100%;
    max-width: 450px;
    height: 100%;
    border-radius: 10px;
  }
}

.comp-insight .comp-text {
  width: 100%;
  height: 300px;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  .comp-insight .comp-text {
    width: 100%;
    max-width: 689px;
    height: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
  }
}

@media (min-width: 900px) {
  .comp-insight .comp-text {
    width: 45%;
    max-width: 540px;
    height: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.comp-insight .comp-text .title {
  width: auto;
  max-width: 327px;
  text-align: center;
  margin-bottom: 30px;
}

.comp-insight .comp-text .title .span-orange {
  color: #D87D4A;
}

@media (min-width: 650px) {
  .comp-insight .comp-text .title {
    max-width: 470px;
  }
}

@media (min-width: 900px) {
  .comp-insight .comp-text .title {
    max-width: 400px;
    text-align: left;
  }
}

.comp-insight .comp-text .description {
  width: auto;
  max-width: 327px;
  text-align: center;
}

@media (min-width: 650px) {
  .comp-insight .comp-text .description {
    max-width: 573px;
  }
}

@media (min-width: 900px) {
  .comp-insight .comp-text .description {
    max-width: 445px;
    text-align: left;
  }
}

.zx9-speaker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  background-color: #D87D4A;
  color: #FFFFFF;
  width: 100%;
  max-width: 400px;
  height: 550px;
  margin: 50px auto 0px auto;
  background-image: url("./assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center -100px;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 650px) {
  .zx9-speaker {
    max-width: 89%;
  }
}

@media (min-width: 900px) {
  .zx9-speaker {
    background-size: 700px;
    background-position: -50px -50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px;
    height: 500px;
  }
}

.zx9-speaker .zx9-speakerImage {
  position: absolute;
  top: 60px;
  width: 130px;
  height: auto;
}

@media (min-width: 900px) {
  .zx9-speaker .zx9-speakerImage {
    width: 300px;
    top: 145px;
    left: 140px;
  }
}

.zx9-speaker .productName {
  width: 280px;
  text-align: center;
}

@media (min-width: 900px) {
  .zx9-speaker .productName {
    text-align: left;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
}

.zx9-speaker .sub-text {
  text-align: center;
  margin-top: 20px;
  width: 280px;
}

@media (min-width: 900px) {
  .zx9-speaker .sub-text {
    text-align: left;
    margin-top: 30px;
    width: 350px;
    -webkit-transform: translateX(285px);
            transform: translateX(285px);
  }
}

.zx9-speaker a {
  text-decoration: none;
  margin-top: 25px;
}

@media (min-width: 900px) {
  .zx9-speaker a {
    margin-top: 30px;
    margin-right: 120px;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
}

.zx7-speaker {
  width: 100%;
  max-width: 400px;
  height: 320px;
  margin: 40px auto;
  border-radius: 10px;
  background-image: url("./assets/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

@media (min-width: 650px) {
  .zx7-speaker {
    background-image: url("./assets/home/tablet/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 89%;
  }
}

@media (min-width: 900px) {
  .zx7-speaker {
    width: 89%;
    background-image: url("./assets/home/desktop/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.zx7-speaker .productName {
  position: relative;
  top: 80px;
  left: 20px;
}

@media (min-width: 650px) {
  .zx7-speaker .productName {
    left: 60px;
  }
}

@media (min-width: 900px) {
  .zx7-speaker .productName {
    left: 100px;
  }
}

.zx7-speaker a {
  position: relative;
  top: 110px;
  left: 20px;
  text-decoration: none;
  color: #000000;
}

.zx7-speaker a:hover {
  color: #FFFFFF;
}

@media (min-width: 650px) {
  .zx7-speaker a {
    left: 60px;
  }
}

@media (min-width: 900px) {
  .zx7-speaker a {
    left: 100px;
  }
}

.yx1-earphones {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  .yx1-earphones {
    width: 89%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.yx1-earphones .yx1-container {
  width: 100%;
  height: 200px;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 650px) {
  .yx1-earphones .yx1-container {
    width: 45%;
    height: 320px;
  }
}

@media (min-width: 900px) {
  .yx1-earphones .yx1-container {
    width: 50%;
    max-width: 550px;
  }
}

.yx1-earphones .yx1-container .mobile-image {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border-radius: 10px;
}

@media (min-width: 650px) {
  .yx1-earphones .yx1-container .mobile-image {
    display: none;
  }
}

.yx1-earphones .yx1-container .mobile-image img {
  width: 100%;
  border-radius: 10px;
}

.yx1-earphones .yx1-container .tablet-image {
  display: none;
}

@media (min-width: 650px) {
  .yx1-earphones .yx1-container .tablet-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .yx1-earphones .yx1-container .tablet-image {
    display: none;
  }
}

.yx1-earphones .yx1-container .desktop-image {
  display: none;
}

@media (min-width: 900px) {
  .yx1-earphones .yx1-container .desktop-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.yx1-earphones .yx1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 200px;
  padding-left: 30px;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
  background-color: #F1F1F1;
}

@media (min-width: 650px) {
  .yx1-earphones .yx1-text {
    width: 45%;
    height: 320px;
    margin: 0px;
    max-width: 550px;
  }
}

.yx1-earphones .yx1-text p {
  width: auto;
  max-width: 100px;
}

.yx1-earphones .yx1-text a {
  color: #000000;
  text-decoration: none;
  margin-top: 25px;
}

.yx1-earphones .yx1-text a:hover {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=main.css.map */