@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.cta-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sub-styling {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.sup-styling {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h1, h2, h3, h4, h5, h6, .subTitle-styling, .cta-styling {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  line-height: 40px;
  letter-spacing: 2px;
}

@media (min-width: 650px) {
  h1 {
    line-height: 58px;
  }
}

h1 {
  font-size: 36px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(1.78571vw + 30.28571px);
  }
}

@media screen and (min-width: 2560px) {
  h1 {
    font-size: 76px;
  }
}

h2 {
  line-height: 44px;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 28px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(0.53571vw + 26.28571px);
  }
}

@media screen and (min-width: 2560px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  line-height: 36px;
  letter-spacing: 1.15px;
}

h3 {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(0.35714vw + 22.85714px);
  }
}

@media screen and (min-width: 2560px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  line-height: 24px;
  letter-spacing: 1.3px;
}

h6 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h6 {
    font-size: calc(0.13393vw + 14.57143px);
  }
}

@media screen and (min-width: 2560px) {
  h6 {
    font-size: 18px;
  }
}

.primary-btn, .secondary-btn, .tertiary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
}

.primary-btn:hover, .secondary-btn:hover, .tertiary-btn:hover {
  cursor: pointer;
}

.primary-btn, .secondary-btn {
  width: 160px;
  height: 48px;
}

.primary-btn {
  background: #D87D4A;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.primary-btn:hover {
  background: #FBAF85;
}

.secondary-btn {
  color: clr(base, black);
  background: #FFFFFF;
  border: 1px solid clr(base, black);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.secondary-btn:hover {
  background: clr(base, black);
  color: #FFFFFF;
}

.tertiary-btn {
  width: 80px;
  height: 20px;
  background: transparent;
  color: #101010;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tertiary-btn svg {
  margin-left: 10px;
}

.header {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 20px;
  background-color: black;
  -webkit-box-shadow: 0px 20px 2px -20px #F1F1F1;
          box-shadow: 0px 20px 2px -20px #F1F1F1;
}

@media (min-width: 650px) {
  .header {
    width: 100%;
    height: 13vh;
    padding: 0px 25px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 0px 20px;
  }
}

.header figure,
.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.header .hamburger {
  display: block;
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .hamburger:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  .header .hamburger {
    display: none;
  }
}

.header .logo a {
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .logo a:hover {
  cursor: pointer;
  fill: #D87D4A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .logo a p {
  display: none;
}

.header .nav-list {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: scroll;
}

@media (min-width: 650px) {
  .header .nav-list {
    height: 50vh;
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .header .nav-list {
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    -webkit-transform: none;
            transform: none;
  }
}

.header .nav-list .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .nav-list .nav-links .nav-link:first-of-type {
  display: none;
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links .nav-link:first-of-type {
    display: block;
  }
}

.header .nav-list .nav-links .nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 217px;
  margin-top: 30px;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link {
    margin: 0px 20px;
  }
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links .nav-link {
    height: auto;
    margin-top: 0;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav-list .nav-links .nav-link img {
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: auto;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link img {
    top: 10px;
  }
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links .nav-link img {
    display: none;
  }
}

.header .nav-list .nav-links .nav-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 165px;
  padding-bottom: 40px;
  color: #000000;
  background-color: #F1F1F1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 650px) {
  .header .nav-list .nav-links .nav-link a {
    width: 100%;
    height: 140px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links .nav-link a {
    color: #FFFFFF;
    background-color: transparent;
    padding-bottom: 0px;
    height: auto;
  }
}

.header .nav-list .nav-links .nav-link a:hover {
  color: #D87D4A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav-list .nav-links .nav-link a:hover button {
  color: #D87D4A;
}

.header .nav-list .nav-links .nav-link button {
  display: block;
}

@media (min-width: 1000px) {
  .header .nav-list .nav-links .nav-link button {
    display: none;
  }
}

.header .openMenu {
  top: 10vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 650px) {
  .header .openMenu {
    top: 15vh;
  }
}

@media (min-width: 1000px) {
  .header .openMenu {
    top: 0;
  }
}

.index-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./assets/home/mobile/image-header.jpg") no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 650px) {
  .index-hero {
    background: url("./assets/home/tablet/image-header.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1000px) {
  .index-hero {
    background: url("./assets/home/desktop/image-hero.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=main.css.map */