.order-complete {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 540px;
    background-color: colorSet(base, white);
    height: fit-content;
    min-height: 450px;
    border-radius: 10px;
    border: 1px solid colorSet(accent, dark-orange);

    & svg {
        fill: colorSet(accent, dark-orange);
        margin-left: 50px;
    }

    & h3 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 50px;
    }

    & p {
        margin-left: 50px;
        font-weight: 200;
    }

    & .return-home-btn {
        width: 80%;
        margin: 0 auto;
    }
}