.order-complete-faded-bg{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}


.order-complete {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 540px;
    background-color: colorSet(base, white);
    height: fit-content;
    min-height: 540px;
    border-radius: 10px;
    border: 1px solid colorSet(accent, dark-orange);
    padding: 10px 0;

    @include tablet{
        top: 15px;
    }

    & svg {
        fill: colorSet(accent, dark-orange);
        margin-left: 50px;
    }

    & h3 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 20px 0 10px 50px;
    }

    & p {
        margin-left: 50px;
        font-weight: 200;
    }
    & .return-home-btn {
        width: 80%;
        margin: 10px auto;
    }

    & .content-visible {
        transition: all 0.5s ease;
    }
}
