.return-btn {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 40px;
    border: none;
    background-color: transparent;
    text-align: left;

    @include tablet {
        margin-top: 30px;
        margin-left: 50px;
    }

    @include desktop {
        margin-left: 50px;
    }

    &:hover {
        cursor: pointer;
    }
}

.individual-product-layout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    & .product-text{
        width: 90%;
        max-width: 327px;
        height: 470px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;

        @include tablet{
            max-width: 445px;
            height: 420px;
            margin-left: 10px;
        }

        & .sup-heading{
            color: colorSet(accent, dark-orange);
        }

        & h2{
            max-width: 250px;
        }

        & .product-price{
            font-size: 18px;
        }

        & .sub-text{
            color: colorSet(base, light-grey);
        }
    }

    & .add-to-cart{
        width: 100%;
        max-width: 327px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .quantity-selector{
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            & .minus-btn, .plus-btn{
                width: 40px;
                height: 48px;
                background-color: colorSet(base, light-silver);
                color: colorSet(base, light-grey);
                border: none;
                outline: none;
                font-size: 18px;

                &:hover{
                    cursor: pointer;
                }
            }

            & input{
                width: 40px;
                height: 48px;
                background-color: colorSet(base, light-silver);
                border: none;
                outline: none;
                text-align: center;
                font-weight: 800;
            }
        }
    }
}

.product-features{
    width: 100%;
    margin: 70px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    @include tablet{
        align-items: flex-start;
    }

    @include desktop{
        width: 90%;
        max-width: 1000px;
        margin: 100px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & .features{
        width: 100%;
        max-width: 327px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;

        @include tablet{
            max-width: 800px;
            margin: 0 auto;
        }

        @include desktop{
            width: 600px;
            margin: 0;
        }

        & h3{
            margin-bottom: 20px;
        }

        & p {
            color: colorSet(base, light-grey);
        }
    }

    & .in-the-box{
        width: 100%;
        max-width: 327px;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
        margin: 50px 0 0 0;

        @include tablet{
            flex-direction: row;
            max-width: 600px;
            justify-content: space-between;
        }

        @include desktop{
            max-width: 200px;
            justify-content: start;
            flex-direction: column;
        }

        & h3{
            margin-bottom: 30px;

            @include desktop{
                margin: 0;
            }
        }

        & ul{
            list-style: none;

            @include desktop{
                margin-top: 50px;
            }
            
            & li {
                margin: 10px 0;
                color: colorSet(base, light-grey);

                & span{
                    color: colorSet(accent, dark-orange);
                    margin-right: 10px;
                    font-weight: 800;
                }
            }
        }
    }
}


//* Individual styling for each product image *

.mark2-headphones {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/shared/mobile/image-xx99-mark-two-headphones.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/shared/tablet/image-xx99-mark-two-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/shared/desktop/image-xx99-mark-two-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.mark1-headphones {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/shared/mobile/image-xx99-mark-one-headphones.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/shared/tablet/image-xx99-mark-one-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/shared/desktop/image-xx99-mark-one-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.xx59-headphones {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/shared/mobile/image-xx59-headphones.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/shared/tablet/image-xx59-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/shared/desktop/image-xx59-headphones.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.zx9-speaker {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/shared/mobile/image-zx9-speaker.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/shared/tablet/image-zx9-speaker.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/shared/desktop/image-zx9-speaker.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.zx7-speaker {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/shared/mobile/image-zx7-speaker.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/shared/tablet/image-zx7-speaker.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/shared/desktop/image-zx7-speaker.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.yx1-earphones {
    & .product-image {
        width: 90%;
        max-width: 327px;
        height: 327px;
        background: url("./style/assets/product-yx1-earphones/mobile/image-product.jpg")
            no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @include tablet {
            max-width: 281px;
            height: 450px;
            background: url("./style/assets/product-yx1-earphones/tablet/image-product.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include desktop {
            max-width: 400px;
            height: 420px;
            background: url("./style/assets/product-yx1-earphones/desktop/image-product.jpg")
                no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}
