//* All of the below styling is for the 3 category html pages *
// * Each product is within it's own container *
// * All individual products are within a single parent container *
//! All of the styling below applies to all 3 pages, do not remove !


.category-headphones, .category-speakers, .category-earphones{
    width: 100%;
    max-width: 1150px;
    min-height: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0px auto;

    & .product-container:nth-child(2){
        @include desktop{
            flex-direction: row-reverse; 
        }

        & .img-container {
            
            & .desktop-vp-image{
                margin-left: auto;
            }
        }

        & .product-info {
            @include desktop {
                padding-left: 0px;
                padding-right: 30px;
            }
        }
    }

    & .product-container{
        width: 96%;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0px;

        @include desktop {
            height: 500px;
            flex-direction: row;
        }

        & .img-container{
            width: 100%;
            height: auto;

            @include desktop {
                width: 50%;
            }

            & .mobile-vp-image{
                display: block;
                width: 100%;
                max-width: 327px;
                height: 352px;
                margin: 30px auto 0px auto;
                border-radius: 8px;

                @include tablet{
                    display: none;
                }

                @include desktop{
                    margin: 0;
                }
            }

            & .tablet-vp-image{
                display: none;
                width: 100%;
                max-width: 689px;
                height: 352px;
                margin: 30px auto 0px auto;
                border-radius: 8px;

                @include tablet{
                    display: block;
                }

                @include desktop {
                    display: none;
                }
            }

            & .desktop-vp-image{
                display: none;

                @include desktop{
                    display: block;
                    width: auto;
                    height: 450px;
                    border-radius: 8px;
                }
            }
        }

        & .product-info{
            width: 100%;
            max-width: 327px;
            text-align: center;
            height: 600px;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;

            @include tablet {
                max-width: 572px;
            }

            @include desktop {
                text-align: left;
                width: 50%;
                max-width: 445px;
                height: 380px;
                padding-left: 30px;
            }

            & .sup-text{
                color: colorSet(accent, dark-orange);
                margin: 20px auto;

                @include desktop {
                    margin: 0;
                }
            }

            & .title{
                margin: auto;
                max-width: 400px;

                @include desktop {
                    margin: 0;
                }
            }

            & .sub-text{
                width: auto;
                margin: 20px auto;
            }

            & a{
                text-decoration: none;
                margin: auto;

                @include desktop {
                    margin: 0;
                }
            }
        }
    }
}

//* Slight change needed to earphones category, this is due to only one product on the page *

.category-earphones{
    min-height: 600px;

    & .product-container{
        height: 500px;
    }
}