// * yx1 product
// * container for all images and text related to yx1 earphones

.comp-insight {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  @include tablet {
    width: 89%;
    margin: auto;
  }

  @include desktop {
    flex-direction: row-reverse;
  }

  // * the below code is for the left container of the yx1 earphones section

  // * image container

  & .soundBooth-img {
    width: 100%;
    height: 350px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 100%;
      height: 300px;
    }

    @include desktop {
      width: 45%;
      max-width: 550px;
      height: 450px;
    }

    & .mobile-img {
      width: 100%;
      max-width: 400px;
      height: 325px;
      border-radius: 10px;

      @include tablet {
        display: none;
      }

      & img {
        width: 100%;
        border-radius: 10px;
      }
    }

    & .tablet-img {
      display: none;

      @include tablet {
        display: block;
        width: 100%;
        height: 300px;
        border-radius: 10px;
      }

      @include desktop {
        display: none;
      }
    }

    & .desktop-img {
      display: none;

      @include desktop {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  // * the below code is for the right container of the yx1 earphones section
  // * text container

  & .comp-text {
    width: 100%;
    height: 300px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet {
      width: 100%;
      max-width: 689px;
      height: 300px;
      justify-content: flex-start;
      margin: 0;
    }

    @include desktop {
      width: 45%;
      max-width: 540px;
      height: 450px;
      justify-content: center;
      align-items: flex-start;
    }

    & .title {
      width: auto;
      max-width: 327px;
      text-align: center;
      margin-bottom: 30px;

      & .span-orange {
        color: colorSet(accent, dark-orange);
      }

      @include tablet {
        max-width: 470px;
      }

      @include desktop {
        max-width: 400px;
        text-align: left;
      }
    }

    & .description {
      width: auto;
      max-width: 327px;
      text-align: center;

      @include tablet {
        max-width: 573px;
      }

      @include desktop {
        max-width: 445px;
        text-align: left;
      }
    }
  }
}
