body {
  background-color: black;
}

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 20px;
  background-color: black;
  box-shadow: 0px 20px 2px -20px colorSet(base, silver);

  @include tablet {
    width: 90%;
    height: 15vh;
    padding: 0px 25px;
  }

  & figure,
  a {
    display: flex;
    justify-self: center;
  }

  & .hamburger {
    display: block;
    fill: colorSet(base, white);
    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;
      fill: colorSet(accent, dark-orange);
      transition: all 0.2s ease;
    }

    @include desktop {
      display: none;
    }
  }

  & .logo {
    & a {
      fill: colorSet(base, white);
      transition: all 0.2s ease;

      &:hover {
        cursor: pointer;
        fill: colorSet(accent, dark-orange);
        transition: all 0.2s ease;
      }

      & p {
        display: none;
      }
    }
  }

  & .nav-list {
    width: 91%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;

    @include tablet {
      top: 15vh;
      height: 50vh;
    }

    @include desktop {
      width: auto;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      background-color: transparent;
      transform: none;
    }

    & .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
      }

      & .nav-link {
        @include tablet {
          margin: 0px 20px;
        }

        & a {
          color: colorSet(base, black);
          text-decoration: none;
          transition: all 0.3s ease;

          @include desktop {
            color: colorSet(base, white);
          }

          &:hover {
            color: colorSet(accent, dark-orange);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
