//The below code is strictly used for the index page only 

.index-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: colorSet(base, white);
  background: url("./assets/home/tablet/image-header.jpg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  @include index-hero {
    background: url("./assets/home/desktop/image-hero.jpg") no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 50px;
  }

  @include desktop{
    padding-left: 100px;
    transition: ease .3s;
  }


  & .sup-styling{
    color: colorSet(base, offwhite);
    margin: 0 0 5vh 0;
  
  }


  & .h1-styling{
    text-align: center;
    margin: 5vh 0px;
    width: auto;
    max-width: 396px;

    @include index-hero{
      text-align: left;
    }
  }

  & .sub-styling{
    text-align: center;
    margin: 5vh 0 10vh 0;
    width: auto;
    max-width: 349px;

    @include index-hero {
      text-align: left;
    }
  }
}
/////////////////////////////////////

//The below code is used for the three category pages

.cat-hero{
  display: flex;
  justify-content: center; 
  align-items: flex-end;
  width: 100%;
  height: 192px;
  background-color: colorSet(base, black);
  padding-bottom: 30px;

  & .hero-text{
    color: colorSet(base, white);
  }

  @include tablet {
    height: 230px;
    padding-bottom: 35px;
  }
}