.suggest-products {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;

    & .heading {
        width: fit-content;
        margin: auto;
    }

    & .product-link {
        width: 100%;
        max-width: 1200px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }


        & .mark-1-headphones, .mark-2-headphones, .xx59-headphones, .zx9-speaker, .zx7-speaker {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            width: 90%;
            margin: auto;
            height: 327px;

            @include tablet {
                width: 214px;
                height: 471px;
            }

            @include desktop {
                width: 295px;
                height: 480px;
            }

            & .product-images {
                width: 100%;
                height: auto;
                border-radius: 10px;

                & .mobile-image {
                    display: block;
                    width: 100%;
                    border-radius: 8px;

                    @include tablet {
                        display: none;
                        width: inherit;
                    }

                    @include desktop {
                        display: none;
                        width: inherit;
                    }
                }

                & .tablet-image {
                    display: none;

                    @include tablet {
                        display: block;
                        width: 100%;
                        border-radius: 8px;
                    }

                    @include desktop {
                        display: none;
                    }
                }

                & .desktop-image {
                    display: none;

                    @include desktop {
                        display: block;
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
        }

        & a {
            text-decoration: none;
        }
    }
}
